.user-details-page {
  margin-top: 1em;
}

.link--back {
  margin-bottom: 1em;
}

.user-card__avatar {
  font-size: 45px;
}

.user-card__details div {
  margin-bottom: 0.5em;
}

.user-card__details div:last-of-type {
  margin-bottom: 0;
}
